{% extends "_base_layout.html" %}

{% from "components/alert.html" import alert %}

{% block title %}
Flask project
{% endblock %}

{% block content %}

{{ alert("hello") }}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Address ID</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.idc }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.telephone }}</td>
            <td>{{ client.mail }}</td>
            <td>{{ client.address_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}